<main>
    <div>
        <h1>Sobre mim</h1>
    </div>
    <div class="about">
        <p>Olá eu sou o Vinicius Cezario, moro com meus pais, e dois irmãos. Desde cedo sou apaixonado pela área de tecnologia, nunca pensei em trocar de área, pois me vejo, e vou, atuar nessa área.
        Eu sempre busco conhecimentos que me desafiam, eu gosto de coisas calmas, como ouvir <span class="link"><a target="_blank" href="https://open.spotify.com/intl-pt/album/1ZSqGiN0icYQ9AjMRCAiRo?si=1&nd=1&dlsi=4e2acffd67664e85">laufey</a></span>, e amo star wars, em meus tempos livres gosto de programar coisas, sendo uma delas minha assistente virtual, a Miranda feita totalmente em python, ela é um dos meus maiores motivos de orgulho.</p>
    </div>
</main>