html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Conteúdo principal, ocupa o espaço restante */
.content {
    flex: 1;  /* Faz com que o conteúdo ocupe o espaço restante disponível */
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F5F5F5;
    color: #121212;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe 100% da altura da tela */
    transition: background-color 0.3s, color 0.3s;
}

a {
    text-decoration: none;
    color: #121212;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

header div a, button{
    margin-right: 0.885vw;
}

header .left {
    display: flex;
    align-items: center;
    font-size: 24px;
}

header .right {
    display: flex;
    align-items: center;
    font-size: 16px;
}

footer {
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: auto;
}
footer a {
    text-decoration: underline;
}

main {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;  /* Espaçamento entre os ícones */
    flex-wrap: wrap;  /* Permite que os ícones se quebrem para a próxima linha se necessário */
    margin-top: 20px;  /* Ajuste o espaçamento superior, se necessário */
}

.social-icons a {
    display: inline-block;  /* Garante que os links ao redor dos ícones não quebrem */
}

.social-icons svg {
    width: 26px;  /* Largura fixada para os ícones */
    height: 26px;  /* Altura fixada para os ícones */
    transition: transform 0.2s ease;  /* Efeito suave de transformação no hover */
}

#toggle-mode {
    background: none;
    border: none;
    padding: 0;
}
#toggle-mode:hover {
    cursor: pointer;
}


/* Modo escuro */
body.dark-theme {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #1D1E20;
    color: #DADADB;
}

body.dark-theme a {
    color: #DADADB;
}

body.dark-theme button {
    color: #DADADB;
    background-color: #444; 
}

.about {
    margin: 0px 26.042vw;
    font-size: 20px;
}
.link {
    text-decoration: underline;
    font-style: italic;
}

.icone-git {
    width: 30px;  /* Largura fixada para os ícones */
    height: 30px;  /* Altura fixada para os ícones */
    transition: transform 0.2s ease;  /* Efeito suave de transformação no hover */
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.projeto {
    border: 2px solid #121212;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px #000000bf;
    background-color: #FAF9F6;
    max-height: 500px;
    max-width: 200px;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projeto:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.projeto a {
    margin-top: auto;
}
.projeto p {
    padding: 0.208vw;
}

.resumo {
    margin-top: 300px;
}

.resumo-2 {
    margin-top: 200px;
}


/* Modo escuro */
body.dark-theme {
    background-color: #1D1E20; /* Fundo escuro */
    color: #DADADB; /* Texto claro */
}

body.dark-theme .projeto {
    background-color: #333; /* Fundo escuro para o card */
    color: #DADADB; /* Texto claro para o card */
    border: 2px solid #555; /* Borda mais visível no modo escuro */
}

body.dark-theme .projeto a {
    color: #DADADB; /* Cor clara para os links no modo escuro */
}

body.dark-theme .projeto a:hover {
    color: #fff; /* Cor de hover mais clara */
}


/* Media Queries para responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .left, header .right {
        font-size: 18px;
        margin-bottom: 10px;
    }

    header .right a, button{
        margin-right: 30px;
    }

    main {
        margin: 5vh 0;
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }

    .social-icons svg {
        max-width: 30px;  /* Aumenta o tamanho dos ícones em telas menores */
        max-height: 30px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header .left {
        font-size: 20px;
    }

    header .right {
        font-size: 14px;
    }

    footer {
        font-size: 10px;
    }

    main {
        margin: 10vh 0;
    }

    .social-icons svg {
        max-width: 35px;  /* Aumenta o tamanho dos ícones em smartphones */
        max-height: 35px;
        margin-right: 1.5vw;  /* Ajusta a margem para garantir espaçamento */
    }
}