<header>
    <div class="left">
        <a href="{{ url_for('index') }}"><strong>Vinicius Cezario</strong></a> <!--24 pixeis-->
    </div>
    <div class="right">
        <a href="{{ url_for('projetos') }}">Projetos</a> <!--16 pixeis-->
        <a href="{{ url_for('sobre') }}">Sobre</a> <!--16 pixeis-->
        <button id="toggle-mode">
            <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
        </button>
    </div>
</header>